--patternlet inline
--swiftversion 5.5
--trimwhitespace nonblank-lines

--disable spaceInsideBrackets

--enable isEmpty
--enable markTypes
--enable sortedSwitchCases
--enable wrapEnumCases
--enable wrapSwitchCases

--header "\n{file}\n\nCopyright {year} • James Sherlock\n"